.Wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  .container {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 1px 3px lightgrey;
    margin: 10px;
    flex: 1;
    .topRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .mainleft {
        .main {
          font-size: 30px;
          color: green;
        }
        .date {
          font-size: 10px;
        }
      }

      .mainRight {
        .label {
        }
        .val {
        }
      }
    }
    .bottomRow {
      display: flex;
      justify-content: space-between;
      .bottomRowLeft {
        .label {
        }
        .val {
        }
      }
      .bottomRowRight {
        .label {
        }
        .val {
        }
      }
    }
  }
  p {
    padding: 0;
    margin: 0;
  }
  .label {
    font-size: 12px;
    color: #585555;
  }
  .val {
    font-size: 14px;
  }
}
