.SearchResult {
  position: absolute;
  background: white;
  width: 50%;
  top: 1rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 6px lightgrey;
    padding-top: 1rem;
    li {
      text-align: left;
      padding: 10px 15px;
      &:hover {
        background-color: #f2f2f2;
      }
      .container {
        display: flex;
        justify-content: space-between;
        .left {
          .code {
            margin: 0;
            font-weight: 500;
          }
          .title {
            margin: 0;
            font-size: 12px;
          }
        }
        .right {
          display: flex;
          align-items: flex-end;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
}
